body {
    &::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("/image.png");
        height: 100svh;
        background-size: cover;
        background-position: center;
        filter: saturate(0) blur(5px) brightness(0.7);
        margin: 0;
    }

    .menu.align-center {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            gap: 1rem;
            padding: 0;
            margin: 0;

            li {
                border-radius: 5px;
                color: #fff;
                transition: background-color 0.3s ease;
                padding-block-start: 0.8rem;
                padding-block-end: 0.2rem;

                &[data-active] {
                    border-bottom: 2px solid var(--color-accent-2);
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    font-family: "Poppins", Helvetica, Arial, sans-serif;
                    font-size: 1rem;

                    &:hover {
                        color: var(--color-accent-1);
                    }
                }
            }
        }

        @media screen and (max-width: 640px) {
            & ul li a {
                font-size: 0.8rem;
            }
        }

        @media screen and (max-width: 520px) {
            & ul {
                display: none;
            }
        }
    }

    .hero {
        margin-block-start: 3rem;
        margin-block-end: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        div {
            margin: 1rem;
            border-radius: 1.5rem;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: rgba(0, 0, 0, 0.5);
            }

            svg {
                margin-block-end: 2rem;
                fill: var(--color-text-primary);
                margin: 0;

                &:hover {
                    fill: var(--color-logo, var(--color-accent-1));

                    text {
                        fill: var(--color-logo-text, var(--color-accent-2));
                    }
                }
            }
        }
    }

    .content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        min-height: 60svh;

        article {
            transition: filter 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
            z-index: 1;
            filter: grayscale(100%) brightness(0.8);
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: 3fr 1fr;
            color: var(--color-text-primary);
            overflow: hidden;
            height: 100%;

            div {
                background-size: cover;
                height: 100%;
                width: 100%;
                grid-row: 1;
                grid-column: 1/ -1;
            }

            h2 {
                grid-row: 1;
                grid-column: 2;
                padding: 3rem;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.4);
            }

            &:hover {
                z-index: 2;
                transform: scale(1.05);
                filter: grayscale(0%) brightness(1) saturate(1.5);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                border-radius: 5px;

                h2 {
                    color: black;
                    background-color: rgba(255, 255, 255, 0.568);
                }
            }
        }

        a {
            font-size: 1rem;
        }

        a:first-child div {
            background-color: royalblue;
            background-image: url("/assets/images/abstract-of-new-home-construct-11945165.jpg");
        }

        a:nth-child(2) div {
            background-color: crimson;
            background-image: url("/assets/images/Front-photo-of-luxury-home-16567121.jpg");
        }

        a:nth-child(3) div {
            background-color: gold;
            background-image: url("/assets/images/Kitchen-in-luxury-home-with-wh-16568375.jpg");
        }

        a:nth-child(4) div {
            background-color: lightgreen;
            background-image: url("/assets/images/Close-up-of-a-man-using-mobile-53439139.jpg");
        }

        @media screen and (max-width: 1080px) {
            grid-template-columns: 1fr 1fr;

            article {
                grid-template-columns: 1fr 3fr;

                & > div {
                    background-position: center;
                }

                h2 {
                    border-radius: 5px 0 0 5px;
                }
            }
        }

        @media screen and (max-width: 640px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 300px);
        }
    }

    .content-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-surface);

        > article {
            max-width: 1120px;
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
            padding-block: 4rem;

            h3 {
                text-transform: uppercase;
                text-align: end;
                margin: 0;
            }

            .heading {
                grid-column: 1;
                grid-row: 1;
                color: var(--color-accent-1);
            }

            .trusted {
                grid-column: 1;
                grid-row: 2;
                color: var(--color-bg);
                font-size: 2.3rem;
                display: flex;
                align-items: flex-end;
                text-wrap-style: balance;
            }

            .caption {
                grid-column: 2;
                grid-row: 1/ -1;
                color: var(--color-text-primary);
                font-weight: bold;
                text-align: start;
                margin-block-end: 0.6rem;

                a {
                    font-size: 1.5em;
                    color: var(--color-accent-2-80);
                }
            }

            @media screen and (max-width: 640px) {
                & {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto auto;
                    padding: 2rem;
                }

                h3 {
                    text-align: center;
                }

                .trusted {
                    font-size: 1.8rem;
                }

                .caption,
                .trusted,
                .heading {
                    grid-column: unset;
                    grid-row: unset;
                }
            }
        }
    }

    .content-contact {
        article {
            position: relative;

            &::before {
                content: "";
                display: flex;
                min-height: 640px;
                justify-content: center;
                align-items: center;
                background-image: url("/assets/images/bigstock-Newly-Constructed-House-Was-In-462841765.jpg");
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                color: white;
                text-align: center;
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                display: block;
                height: 100%;
                width: 100%;
                background-color: var(--color-accent-1);
                opacity: 0.6;
                filter: brightness(0.3);
                z-index: 1;
            }

            div {
                position: absolute;
                max-width: 1080px;
                width: 100%;
                padding-block: 8rem;
                z-index: 2;
                display: flex;
                gap: 2rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                padding: 1rem;

                h3 {
                    margin: 0;
                }

                h3:not(:has(a)) {
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    text-align: center;
                }

                h3:has(a) {
                    font-size: 2rem;
                    background-color: var(--color-accent-2-20);
                    padding-inline: 3rem;
                    padding-block: 0.8rem;
                    border-radius: 100px 0px;
                    margin-bottom: 2rem;
                    margin-inline: 2rem;

                    a:hover {
                        padding-block: 0.3rem;
                    }

                    @media screen and (max-width: 640px) {
                        a:hover {
                            padding-block: 0.6rem;
                        }
                    }
                }

                h2 {
                    background-color: var(--color-accent-2-20);
                    padding-inline: 3rem;
                    padding-block: 0.8rem;
                    font-size: 2em;
                    border-radius: 100px 0px;
                }

                a {
                    height: 3rem;
                    width: 16rem;
                    background-color: var(--color-accent-2-20);
                    display: flex;
                    border-radius: 100px;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        font-family: var(--font-heading);
                        color: var(--color-text-primary);
                    }
                }
            }
        }
    }

    .content-mission {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-bg);

        article {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
            max-width: 1120px;
            padding-block: 4rem;

            h3 {
                font-size: 4rem;
                text-align: end;
                color: var(--color-accent-2);
                margin: 0;

                @media screen and (max-width: 640px) {
                    font-size: 3rem;
                }
            }

            @media screen and (max-width: 640px) {
                & {
                    grid-template-columns: 1fr;
                    padding: 2rem;
                }

                h3 {
                    text-align: center;
                }
            }
        }
    }

    .content-options {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-content: center;

        > *,
        &::before,
        &::after {
            grid-column: 1;
            grid-row: 1;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-image: url("/assets/images/bigstock-Abstract-of-New-Home-Construct-11944841.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            filter: grayscale(100%) brightness(0.4);
        }

        &::after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            background-color: var(--color-accent-2);
            opacity: 0.6;
            filter: brightness(0.3);
            z-index: 1;
        }

        article {
            padding-block: 5rem;
            width: 100%;
            padding-block: 8rem;
            z-index: 2;
            display: flex;
            gap: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 1120px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: auto;

            h3 {
                text-transform: uppercase;
                font-size: 2rem;
                filter: drop-shadow(2px 4px var(--color-accent-2-30));
            }

            p {
                text-wrap-style: balance;
                text-align: center;

                a {
                    font-size: 1.6rem;
                }
            }

            ol {
                display: flex;
                gap: 2rem;
                justify-content: center;
                align-items: flex-end;
                list-style-position: inside;
                counter-reset: list-num;

                @media screen and (max-width: 640px) {
                    & {
                        flex-direction: column;
                    }
                }

                li {
                    counter-increment: list-num;
                    display: flex;
                    align-items: start;
                    gap: 1rem;
                    text-transform: uppercase;
                    text-wrap-style: pretty;

                    &::marker {
                        font-size: 3rem;
                        font-family: var(--font-accent);
                    }

                    &::before {
                        content: "0" counter(list-num) ".";
                        font-size: 3rem;
                        line-height: 1em;
                        font-style: italic;
                        filter: drop-shadow(2px 4px var(--color-accent-2-30));
                    }
                }
            }
        }
    }

    footer {
        background: var(--color-bg);
        width: 100%;
        padding-inline: 2rem;
        padding-block: 2rem 1rem;

        article {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: start;
            font-size: 0.8em;

            h2 {
                text-align: start;
                text-transform: uppercase;
                font-size: 0.5rem;
            }

            ul {
                list-style: none;
                font-size: 1.2rem;
                padding-left: 0.8rem;

                li {
                    margin-block-end: .2rem;
                }

                a {
                    font-family: var(--font-heading);
                    color: var(--color-text-muted);
                    font-size: 0.8em;
                    text-decoration: none;

                    i {
                        margin-right: 0.8rem;
                    }
                }
            }
        }

        p {
            margin: 0;
            text-wrap-style: pretty;
            color: var(--color-text-muted);
            font-size: 0.8rem;
        }
    }
}
